.web-collect-root {
  @include box(100%, 100%);
  @include themeColor(#bdbdbd, #a3a6ad);

  .iconbl {
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--el-color-primary);
    }
  }

  .web-collect-title {
    @include box(100%, 31px);
    @include font(14px, 500);
    flex-wrap: wrap-reverse;
    align-content: flex-end;
    text-shadow: var(--bl-text-shadow);
    padding: 5px 10px;

    .iconbl {
      font-size: 17px;
      margin-right: 10px;
      cursor: pointer;
    }

    .title-remind {
      color: var(--el-color-primary);
      font-size: 11px;
      padding: 0 10px;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover {
      .title-remind {
        opacity: 1;
      }
    }
    .bl-refresh-smile {
      &:hover {
        animation: rotation 10s linear infinite;
        text-shadow: none;
      }
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(-360deg);
      }
    }
  }

  .web-collect-group {
    @include themeColor(#bdbdbd, #a3a6ad);
    @include font(14px, 300);
    text-shadow: var(--bl-text-shadow);
    padding: 5px 20px;
  }

  .web-collect-content {
    @include flex(row, flex-start, flex-start);
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 8px;
  }

  .web-item-container {
    @include box(100%, calc(100% - 31px));
    overflow-y: scroll;

    .placeholder {
      @include font(15px, 300);
      padding: 20px 0 0 20px;
      color: var(--bl-text-color-light);
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bl-scroll-color);
      width: 4px;
      height: 3px;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--bl-scroll-color-hover);
      }
    }
  }

  .web-item {
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    cursor: pointer;
    img,
    svg {
      object-fit: contain;
      filter: var(--bl-drop-shadow-star);
    }
  }

  .web-item-card {
    @include flex(column, space-between, center);
    @include box(80px, 110px);
    @include themeBrightness(100%, 80%);
    padding: 15px 10px 10px 10px;
    border-radius: 10px;

    img,
    svg {
      width: 40px;
      height: 40px;
    }

    .web-name {
      @include box(100%, 32px);
      @include themeColor(#a5a5a5, #929292);
      text-shadow: var(--bl-text-shadow);
      text-align: center;
      font-size: 11px;
      overflow: hidden;
      white-space: normal;
    }
  }

  .web-item-list {
    @include flex(row, flex-start, center);
    @include box(200px, auto);
    border-radius: 4px;
    padding: 3px 3px 3px 5px;
    margin-bottom: 5px;
    color: var(--bl-text-color-light);

    img,
    svg {
      width: 18px;
      height: 18px;
    }

    .web-name {
      @include ellipsis();
      width: 175px;
      font-size: 13px;
      padding-left: 5px;
    }
  }

  .web-item-heavy {
    &:hover {
      @include themeShadow(0 3px 5px 0 rgb(190, 190, 190), 0 3px 5px 0 rgba(0, 0, 0, 1));
      transform: translateY(-5px);
    }
  }

  .web-item-light {
    transition: background-color 0.2s;
    &:hover {
      @include themeBg(#f5f5f5, #171717);
    }
  }

  .web-item-card.hover {
    @include themeShadow(0 3px 5px 0 rgb(190, 190, 190), 0 3px 5px 0 rgba(0, 0, 0, 1));
    transform: translateY(-5px);
  }

  .save-form {
    @include box(100%, 270px);
    @include absolute(0, 0);
    @include themeBg(#fffffff1, #000000dd);
    @include themeShadow(3px 3px 10px 1px #cccccc, 3px 3px 10px 1px #000000);
    z-index: 99999999;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;

    .save-form-title {
      border-bottom: 1px solid var(--el-border-color);
      padding: 10px;
    }

    .el-form {
      padding: 10px;
      :deep(.el-form-item--small) {
        margin-bottom: 8px;
      }
    }
  }
}
