.doclib-root {
  @include box(100%, 100%);
  @include flex(column, flex-start, flex-start);
  padding: 40px;

  .doclib-container {
    @include box(100%, auto);
    @include flex(row, flex-start, flex-start);
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;

    .doclib-item {
      @include flex(column, flex-start, flex-start);
      @include box(150px, 250px);
      @include themeBg(#f5f5f5, #252525);
      margin: 15px 13px 25px 13px;
      border-radius: 6px;
      transition:
        box-shadow 0.2s,
        transform 0.3s;
      position: relative;
      cursor: pointer;
      @include themeShadow(0 3px 5px 0 rgb(190, 190, 190), 0 3px 5px 0 rgb(20, 20, 20));

      &:hover {
        @include themeShadow(0 7px 9px 0 rgb(168, 168, 168), 0 7px 9px 0 rgb(0, 0, 0));
      }

      .avatar-wrapper {
        @include flex(row, center, center);
        @include box(100%, 150px);
        overflow: hidden;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        .avatar {
          @include themeBrightness();
          width: 100%;
          object-fit: contain;
        }
      }
      .name {
        @include box(100%, 35px);
        padding: 7px 5px 0 5px;
        @include themeColor(#3b3b3b, #d9d9d9);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
        &:hover {
          @include themeBg(#dcdcdc, #252525);
        }
      }
      .path {
        @include box(100%, 40px);
        @include themeColor(#acacac, #5d5d5d);
        font-size: 12px;
        padding: 5px 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        word-wrap: break-word;
        overflow: hidden;
        transition: background 0.2s;

        &:hover {
          @include themeBg(#dcdcdc, #252525);
        }
      }

      .operation {
        @include box(100%, 25px);
        @include flex(row, space-between, center);
        @include themeColor(#acacac, #5d5d5d);
        padding: 0 5px;
        .cretime {
          font-size: 12px;
        }
        .iconbl {
          @include themeColor(#acacac, #5d5d5d);
        }
      }
    }

    .doclib-item-empty {
      @include flex(column, flex-start, flex-start);
      @include box(150px, 250px);
      margin: 15px 15px 25px 15px;
      position: relative;
      cursor: pointer;

      .iconbl {
        font-size: 40px;
        margin-bottom: 7px;
      }

      .item {
        @include box(100%, 100%);
        @include flex(column, center, center);
        @include themeBg(#f5f5f5, #252525);
        @include themeColor(#e0e0e0, #353535);
        z-index: 10;
        border-radius: 6px;
        transition:
          box-shadow 0.4s,
          transform 0.3s,
          color 0.4s;

        &:hover {
          z-index: 15;
          color: var(--el-color-primary);
          @include themeShadow(0 0 3px 2px rgb(190, 190, 190), 0 0 5px 2px rgb(20, 20, 20));
          border-color: transparent !important;
        }
      }
    }

    .pin {
      @include box(30px, 30px);
      position: absolute;
      top: -15px;
      left: -10px;
      z-index: 20;
      rotate: -65deg;
      opacity: 1;
    }

    .pin-hidden {
      opacity: 0;
    }
  }
}
