.index-picture-root {
  @include box(100%, 100%);
  @include flex(row, flex-start, center);

  // 文档
  .doc-container {
    @include flex(column, flex-start, center);
    height: 100%;
    min-width: 250px;
    font-weight: 300;

    .doc-tree-menu-container {
      @include box(100%, calc(100% - 28px));
    }

    // 临时内容
    .doc-tree-bottom {
      @include flex(row, flex-start, center);
      @include box(100%, 28px);
      color: var(--bl-editor-color);
      border-top: 1px solid var(--el-border-color);
      background-color: var(--bl-editor-gutters-bg-color);

      .picture-status-item {
        width: 50%;
        &:last-child {
          border: 0px;
        }
      }
    }
  }

  .picture-container {
    height: 100%;
    background-color: #ffffff00;
    position: relative;

    // 图片列表的控制按钮
    .picutre-workbench {
      @include flex(row, space-between, center);
      @include themeShadow(0 2px 6px #d3d3d3, 0 1px 6px 1px #0e0e0e);
      width: calc(100% - 20px);
      margin: 5px 10px 10px 10px;
      padding: 0px 10px;
      border-radius: 5px;
      transition: height 0.1s;
      overflow-y: hidden;
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 3px;
      }

      .workbenchs {
        @include flex(column, center, center);
        height: 100%;
      }

      .workbench-level1 {
        @include flex(row, flex-start, flex-end);
        width: 100%;
        height: 50px;
        padding-bottom: 5px;
        .bl-admonish-line {
          font-size: 12px;
          margin-left: 3px;
        }
      }

      .workbench-level2 {
        @include flex(row, flex-start, center);
        width: 100%;
        padding-left: 15px;
        transition:
          height 0.1s,
          opacity 0.1s;
        .desc {
          @include flex(row, flex-start, center);
          @include font(12px, 300);
          margin-left: 10px;
          color: var(--bl-text-color);

          .iconbl {
            margin-right: 5px;
          }
        }
      }

      .btn-wrapper {
        @include themeColor(#a7a7a7, #6d6d6d);
        margin-right: 12px;
        .btn-wrapper-desc {
          font-size: 11px;
          text-align: center;
        }
      }

      .statistic {
        @include themeColor(#a7a7a7, #6d6d6d);
        height: 100%;
        width: max-content;
      }
    }

    .picutre-workbench-child {
      transition: all 0.1s ease;
      padding-left: 10px;
      font-size: 12px;
    }

    .picture-card-container {
      @include flex(row, flex-start, flex-start);
      width: 100%;
      align-content: flex-start;
      flex-wrap: wrap;
      padding: 10px 20px;
      overflow-y: scroll;

      .picture-card {
        @include themeShadow(3px 3px 6px 1px #d3d3d3, 1px 3px 6px 1px #0e0e0e);
        @include flex(column, flex-start, center);
        position: relative;
        border-radius: 5px;
        transition:
          height 0.3s,
          width 0.3s,
          box-shadow 0.3s;
        overflow: hidden;

        &:hover {
          @include themeShadow(3px 3px 10px 1px #b0b0b0, 3px 3px 10px 1px #000);

          .picuter-card-workbench {
            opacity: 1;
          }
        }

        .picture-card-check {
          position: absolute;
          height: auto;
          right: 10px;
          top: 10px;

          :deep(.el-checkbox__inner) {
            height: 20px;
            width: 20px;
            &::after {
              border-width: 2px;
              height: 13px;
              left: 7px;
              top: 0;
            }
          }
        }

        .other-file {
          @include flex(column, center, center);
          @include box(100%, 100%);
          background-color: var(--bl-bg-color);
          color: var(--bl-text-color-light);

          .other-filename {
            @include ellipsis();
            text-align: center;
            width: 100%;
            font-size: 12px;
          }

          .other-suffix {
            @include font(23px, 300);
            white-space: pre;
          }
        }

        .img-wrapper {
          @include box(100%, 100%);
          @include flex(row, center, center);
          cursor: pointer;
          position: relative;
          .img-articlelinks {
            @include font(10px, 500);
            position: absolute;
            top: 3px;
            right: 3px;
            background: var(--el-color-primary-light-3);
            color: #ffffff;
            padding: 3px 5px;
            border-radius: 5px;
          }
        }

        img {
          @include box(100%, 100%);
          @include themeBrightness();
          object-fit: cover;
        }

        .img-error {
        }

        .img-deleted {
          @include flex(row, center, center);
          color: var(--el-color-primary-light-7);
          height: 100%;
        }

        // 图片卡片的控制按钮
        .picuter-card-workbench {
          @include flex(row, space-around, flex-start);
          @include box(100%, 50px);
          position: absolute;
          color: #ffffff;
          background-color: var(--el-color-primary-light-3);
          bottom: 0;
          opacity: 0;
          transition: 0.3s;
          z-index: 3;

          .item {
            @include box(25%, 100%);
            @include flex(row, center, center);
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: var(--el-color-primary);
              width: 30%;
            }
          }
        }
      }

      .picutre-card-large {
        @include box(250px, 300px);
        margin: 20px;

        .picuter-card-workbench {
          @include box(100%, 50px);

          .iconbl {
            font-size: 27px;
          }
        }

        .iconbl {
          font-size: 27px;
        }
      }

      .picutre-card-mini {
        @include box(130px, 180px);
        margin: 10px;

        .picuter-card-workbench {
          @include box(100%, 30px);
        }
      }

      .picuter-card-next {
        @include box(100%, 30px);
        @include flex(row, flex-start, center);
        padding: 0 10px;
        text-align: center;
      }
    }
  }

  .picture-status {
    @include flex(row, flex-start, center);
    @include box(100%, 28px);
    border-top: 1px solid var(--el-border-color);
    background-color: var(--bl-editor-gutters-bg-color);
    position: absolute;
    bottom: 0;
    word-break: break-all;
  }

  .picture-status-item {
    @include flex(row, flex-start, center);
    @include font(10px, 500);
    height: 100%;
    padding: 10px;
    color: var(--bl-editor-color);
    border-right: 1px solid var(--el-border-color);

    &:hover {
      background-color: var(--bl-editor-bg-color);
    }
  }

  .picture-status-item.count {
    word-break: keep-all;
  }
  .picture-status-item.size {
    word-break: keep-all;
  }
  .picture-status-item.path {
    min-width: 300px;
    cursor: pointer;
    span {
      @include ellipsis();
    }
  }
}
